@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Anton&display=swap');


body {
    background-image: url("../images/background.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    text-align: center; /* Center text */
    box-sizing: border-box;
}

.container {
    max-width: 400px;
    width: 75%;
    background: rgba(0, 0, 0, 0.548); /* Light background for visibility */
    padding: 5vw 2em;
    margin: 0 auto;
    border-radius: 20px; /* Optional: rounded edges */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow */
}

img {
    width: 300px; /* Adjust logo size */
    height: auto;
}

h1 {
    font-size: 1.5em;
    font-family: "Inter Tight";
    color: #ffffff;
    font-weight: 400;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);

}

p {
    font-family: "Inter Tight";
    color: #b4b4b4;
    font-size: 1.2em;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #fa0000;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: "Inter Tight";
    font-weight: 500;   
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    font-size: 1.2em;

}

a:hover {
    color: #ff7777;
}

@media (min-width: 1280px) {
    .container {
        max-width: 600px; /* Increased max-width for tablet and desktop */
        padding: 5vw 3em; /* Adjust padding for better layout */
    }

    img {
        width: 500px;
    }

    h1 {
        font-size: 2em; /* Larger text on desktop */
    }

    p {
        font-size: 1.5em; /* Larger text for better readability */
    }
    a {
        font-size: 1.5em;
    }
}